*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
  text-align: justify;
}


header{
background-color: #BBBBBB;
text-align: center;
height: 800px;
margin: 0 25px 0 25px;
}
header img{
  width:100%;
  height: 600px;
}

h1{
  color: black;
  text-align: center;
  font-family: 'Lexend Mega';
  font-size: 50px;
  margin-top: 30px;
}

.box{
  width: auto;
  margin: 0 auto;
}
nav{
  text-align: center;
  margin-top: 45px;
}

nav li{
  display: inline;
  margin: 0 0 0 15px;
 }

nav a{
   text-transform: uppercase;
   color: black;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
 }
 nav a:hover{
   color: #C78C19;
   text-decoration: underline;
 }

.article {
  background-color:lightgray;
  border: 1px solid grey;
  float: left;
  margin: 25px 0px 25px 25px;
  padding: 0 25px;
  width: 70%;
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
}
.article h2{
  padding: 25px 0 25px 0;
  text-decoration: underline;
}
.article h3{
  text-decoration: underline;
}

.image-contents{
  width: 500px;
  padding-top: 15px;
  
}

.video h3{
  text-decoration: underline;
}
.video{
  color: #000000;
  padding: 15px 25px;
  text-align: center;
}

.bibliography{
  margin-top: 25px;
}
.bibliography ol{
  padding: 20px 0 25px 25px;
  text-align: left;
}
.aside{
  background-color: lightgray;
  border: 1px solid grey;
  float: right;
  margin: 25px 50px 0px 0px;;
  padding: 25px;
  width: 15%;
  height: 400px;
  line-height: 1.5em;
  
}
table{
  margin: auto;
  width: 200px;
  color: black;
  font-size: 16px;
}

caption{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 40px;
  text-decoration: underline;
}
table tr{
  text-align: center;

}
table td {
  text-align: center;
  padding: 5px;

}
table td {
  text-align: center;
  pad: 10px;
}

footer{
  padding: 30px;
  background-color: #BBBBBB;
  color:#000000;
  clear: both;
  font-size: 25px;

 
  text-align: center;
}

