*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
}


header{
background-color: #BBBBBB;
padding: 20px;
text-align: center;
height: 150px;
}

h1{
  color: black;
  text-align: center;
  font-family: 'Lexend Mega';
  font-size: 40px;
  margin-top: 15px;
}

.caixa{
  position: relative;
  width: auto;
  margin: 0 auto;
}
nav{
  position: absolute;
  top: 100px;
  right: 20px;
}

nav li{
  display: inline;
  margin: 0 0 0 15px;
 }

nav a{
   text-transform: uppercase;
   color: black;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
 }
 nav a:hover{
   color: #C78C19;
   text-decoration: underline;
 }

 .banner{
   width: 100%;
   height: 600px;
 }

.article h2{
  text-align: center;
}

.section-table {
  text-align: end;
  display: inline-block;
  right: 0px;

}
caption{
  text-align: center;
  font-weight: bold;
}
table tr{
  text-align: center;

}
table td {
  text-align: center;
  padding: 5px;

}
table td {
  text-align: center;
  pad: 10px;
}

